<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Pessoa</title>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
 <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h1>Cadastro Pessoa</h1>
	
  <form action="salvarpessoa" method="post" th:object="${pessoaobj}">
  	<label>ID</label>
  	<input name="id" th:field="*{id}" readonly="readonly">
	 <div class="row">	
	   <div class="input-field col s4">
		<label class="active">Nome</label>
		<input name="nome" th:field="*{nome}">
	   </div>
	   <div class="input-field col s4">
		<label class="active">Sobrenome</label>
		<input name="sobrenome" th:field="*{sobrenome}">
	   </div>
	   <div class="input-field col s4">
		<label class="active">Idade</label>
		<input name="idade" th:field="*{idade}">
	   </div>
	   <div class="input-field col s4">
		<label class="active">CEP</label>
		<input name="cep" th:field="*{cep}">
	   </div>
	 </div>
		<input class="waves-effect waves-light btn" type="submit" value="Cadastrar">
	 </form>

	<br/>
	<br/>
	 <a class="waves-effect waves-light btn" href="/listapessoas">Listar Pessoas</a>
	 
	 <table>
	 	<tr th:each = "pessoa : ${pessoas}">
	 		<td th:text = "${pessoa.id}"></td>
	 		<td th:text = "${pessoa.nome}"></td>
	 		<td th:text = "${pessoa.sobrenome}"></td>
	 		<td th:text = "${pessoa.idade}"></td>
	 		<td th:text = "${pessoa.cep}"></td>
	 		<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
	 		<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
	 	</tr>
	 </table>
	 
	 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
	 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>