<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	
	 <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Inicio</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/cadastropessoa">Cadastro Pessoa</a></li>
	      </ul>
	    </div>
	  </nav>
	
	<h1>Olá Spring Boot</h1>
	
	 <script type="text/javascript" src="materialize/js/materialize.js"></script>
	 <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>